nav {
  height: 100px;
  display: flex;
  align-items: stretch;
  gap: 20px;
}

nav img {
  height: 25px;
  width: auto;
}

.navbar-side {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-side a {
  text-transform: uppercase;
  font-size: small;
  font-weight: 500;
  transition: 0.3s;
}

.navbar-side a:hover {
  color: var(--primary);
}

.search-box {
  position: absolute;
  top: 0;
  right: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  width: 0;
  overflow: hidden;
}

.search-box input {
  height: 50px;
  width: 180px;
  border: 1px dotted white;
  background: white;
  padding: 0 10px;
  outline: none;
  font-size: large;
}

.search-box input:focus {
  border: 1px dotted #808080;
}

#search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  width: 50px;
  height: 50px;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}

.search-box-visible {
  opacity: 100%;
  visibility: visible;
  width: 180px;
}

.navbar-side-right {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.navbar-icons {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
}

@media screen and (min-width: 896px) {
  nav .drop {
    position: relative;
  }

  nav .drop:hover > a {
    color: var(--primary);
  }

  nav .list {
    position: absolute;
    opacity: 0;
    transform: translateY(20px);
    visibility: hidden;
    top: 100%;
    left: -10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-top: 2px solid var(--primary);
    box-shadow: 3px 3px 6px #808080;
    z-index: 10;
    transition: 0.2s;
  }

  nav .drop:hover .list {
    opacity: 100;
    transform: translateY(0);
    visibility: visible;
  }

  nav .list-child {
    white-space: nowrap;
    background: #fff;
    padding: 10px 50px 10px 10px;
  }

  nav .list-child:hover {
    background: #f8f8f8;
  }

  nav .drop {
    display: flex;
    align-items: center;
    height: 60px;
  }
}

.drops {
  display: flex;
  gap: 20px;
}

.navbar-side-left {
  display: flex;
  justify-content: space-between;
}

.navbar-side-left button {
  background: none;
  border: none;
  outline: none;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 896px) {
  .navbar-side-left button {
    display: block;
  }

  .navbar-side-left {
    width: 100%;
    height: 80px;
  }

  .navbar-side-right {
    display: none;
  }

  nav {
    padding: 0 20px;
    flex-direction: column;
    gap: 0;
    height: auto;
  }

  .navbar-side-right {
    flex-direction: column;
    align-items: start;
  }

  .drops {
    flex-direction: column;
  }

  nav .list {
    display: none;
  }
}

.navbar-side-right-visible {
  display: flex;
}
