:root {
  --primary: #805aed;
  --gray: #4c455f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  background: radial-gradient(
      circle 40vw at 0px -10vw,
      #acebd5 0,
      #ffffff00 100%
    ),
    radial-gradient(circle 40vw at 100vw -10vw, #ddceee 0, #ffffff00 100%);
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
