.editors-pick-section {
  flex: 1;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.section-header h3 {
  font-weight: 600;
  font-size: larger;
}

.section-header h2 {
  font-weight: 600;
  font-size: xx-large;
}

.section-header a {
  color: var(--primary);
}
.editors-pick-section .section-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.editors-pick-section .section-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.editors-pick-section .section-card a {
  font-weight: 700;
  font-size: large;
  transition: 0.3s;
}
.editors-pick-section .section-card a:hover {
  color: var(--primary);
}

.editors-pick-section .section-card img {
  width: 100%;
}

.newsletter {
  width: 300px;
  border: 1px solid #dfdee3;
  padding: 0 20px 30px 20px;
  background: #f5f5f5;
}

.newsletter .icon {
  width: 40px;
  height: 40px;
  background: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: large;
}

.newsletter h4 {
  font-size: larger;
  margin: 20px 0 10px 0;
}

.newsletter p {
  color: var(--gray);
}

.newsletter input {
  margin: 15px 0;
  outline: none;
  border: 1px solid #dfdee3;
  padding: 15px 10px;
  display: block;
  width: 100%;
  font-size: large;
}

.newsletter button {
  outline: none;
  border: none;
  padding: 12px 20px;
  background: var(--primary);
  color: white;
  border-radius: 9999px;
  font-size: larger;
}

.tech-section {
  flex: 1;
}

.tech-section .section-grid {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 25px;
}

.tech-section .section-card {
  display: flex;
  align-items: start;
}

.tech-section img {
  width: 45%;
  height: 245px;
  flex-shrink: 0;
  object-fit: cover;
}

.tech-section .section-card .section-card-content {
  flex: 1;
  padding: 20px 0 20px 20px;
}

.tech-section .section-card h6 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: small;
  margin-bottom: 8px;
  color: var(--primary);
}

.tech-section .section-card h3 {
  font-size: x-large;
  margin: 15px 0;
}

.tech-section .section-card p {
  color: var(--gray);
  margin-bottom: 15px;
}

.tech-section .section-card a {
  transition: 0.3s;
}

.tech-section .section-card a:hover {
  color: var(--primary);
}

.chips {
  display: flex;
  align-items: center;
  gap: 15px;
}

.chips .chip {
  font-size: small;
  color: var(--gray);
}

.stay-connected {
  width: 300px;
  position: sticky;
  top: 20px;
  bottom: 20px;
}

.stay-connected h4 {
  font-size: larger;
}

.stay-connected > div {
  display: flex;
  margin: 15px 0;
  gap: 10px;
}

.stay-connected i {
  width: 20px;
  padding-top: 3px;
}

.stay-connected p {
  color: var(--gray);
}

.must-read-section {
  margin-top: 50px;
}

.must-read-section .section-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.must-read-section .section-card {
  position: relative;
  height: min(430px, 35vw);
  overflow: hidden;
}

.must-read-section .section-card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  filter: brightness(60%);
}

.must-read-section .section-card .section-content {
  position: absolute;
  left: 20px;
  bottom: 20px;
  right: 20px;
  color: #dfdee3;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.apps-section {
  margin-top: 50px;
}

.apps-section .section-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.apps-section .section-card img {
  width: 100%;
}

.apps-section .section-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 6px;
}

.apps-section .section-card span {
  font-size: small;
  color: var(--gray);
}

.apps-section .section-card h3 {
  margin-top: 8px;
}

.apps-section .section-card p {
  font-size: smaller;
  color: var(--gray);
}

.apps-section .section-card a {
  transition: 0.3s;
}

.apps-section .section-card a:hover {
  color: var(--primary);
}

.section-container {
  display: flex;
  align-items: start;
  gap: 30px;
  margin-top: 80px;
}

@media screen and (max-width: 768px) {
  .section-layout-shift {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
  }

  .editors-pick-section .section-grid {
    display: flex;
    flex-direction: column;
  }

  .newsletter {
    width: 100%;
  }

  .tech-section .section-card {
    flex-direction: column;
  }

  .tech-section img {
    width: 100%;
  }

  .stay-connected {
    position: static;
    width: 100%;
    padding-left: 30px;
  }

  .must-read-section .section-grid {
    display: flex;
    flex-direction: column;
  }

  .must-read-section .section-card {
    height: max(300px, 35vw);
  }

  .apps-section .section-grid {
    display: flex;
    flex-direction: column;
  }
}
